.env
app.log
send_sms.env
send_sms.py
smss.py
spam.py
twilio.env.txt
__pycache__/send_sms.cpython-39.pyc
commands.py
functions.py
guess_num.py
naming.py
password.py
python.jpg
README.md
word_freq.py
zipzap.py
